node_modules
.DS_Store
dist
lerna-debug.log
tsconfig.tsbuildinfo
coverage
.env
pwd.txt
package-lock.json
tests/assets/keystore/
tests/assets/wallet.toml
tests/assets/evmlc.toml
tests/assets/config.toml
yarn-error.log
./scripts
bin/